<div class="container">
<% if flash[:notice] %>
   <div class="flash">
     <%= flash[:notice] %>
   </div>
<% end %>
<!-- showページでプロフィール編集機能を作る -->
<div class="container"> 
  <div class="row">   
    <div class="col-xs-3">
      <h2>User info</h2>
        <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg' , fallback: "no-image.jpg" %>
      <table class="table">
      	<tbody>
      	  <tr></tr>
      	  <tr>
      	  	<th>name</th>
      	  	<th><%= @user.name %></th>
      	  </tr>
      	  <tr>
      	  	<th>introduction</th>
      	  	<th><%= @user.introduction %></th>
      	  </tr>
      	</tbody>
      </table>
      <div class="row">
      <%= link_to edit_user_path(@user) do %>
        <span class="col-xs-12 btn btn-default glyphicon glyphicon-wrench" aria-hidden="true"></span>
      <% end %>
      </div>

      <h2>New book</h2>
      <%= form_for(@book) do |book| %>
        <h4>Title</h4>
        <%= book.text_field :title %>

        <h4>Opinion</h4>
        <%= book.text_area :body %><br>

        <%= book.submit'Create Book' %>
      <% end %>
    </div>

    <div class="col-xs-9">
      <h2>Books</h2>
        <table  class="table table-hover table-inverse">
	        <thead>
			      <tr>
			        <th></th>
			        <th>Title</th>
			        <th>Opnion</th>
			        <th colspan="3"></th>
			      </tr>
	        </thead>
	        <tbody>
            <% @books.each do |books| %>
          <tr>
            <th>
              <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg' , fallback: "no-image.jpg" %>
            </th>

            <th>
              <%= link_to book_path(books) do %>
                <%= books.title %></th>
              <% end %>
            <th><%= books.body %></th>
          </tr>
        <% end %>
	        </tbody>
	      </table>
    </div>
  </div>
</div>





