<% if flash[:notice] %>
   <div class="flash">
     <%= flash[:notice] %>
   </div>
<% end %>
<div class="container"> 
  <div class="row">   
    <div class="col-lg-3">
      <table class="table">
        <h2>User info</h2>
        <%= attachment_image_tag @list, :image, :fill, 300, 300, format: 'jpeg', fallback: "no-image.jpg"  %>
        <tbody>
          <tr></tr>
          <tr>
            <th>name</th>
            <th><%= current_user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th></th>
          </tr>     
        </tbody>
      </table>
    
      <h2>New book</h2>
      <%= form_for(@book) do |book| %>
        <h4>Title</h4>
        <%= book.text_field :title %>

        <h4>Opinion</h4>
        <%= book.text_area :body %><br>

        <%= book.submit'Create Book' %>

        <% end %>
    </div>

    </table>
      <div class="col-lg-9">
      <h2>Book detail</h2>
      <table  class="table table-striped">
        <tbody>
        
          <tr>
            <th></th>
            <th><%= @book.title %></th>
            <th><%= @book.body %></th>
            <th><%= link_to "Edit", edit_book_path(@book.id) %></th>
            <th><%= link_to "Dstroy", book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?" %></th>
          </tr>
        
        </tbody>
      </table>
      </div>
  </div>
</div>